<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/blog"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img
      src="https://assets-a1.kompasiana.com/items/album/2018/07/13/berita-admin-akar-tuli-5b48581fcaf7db489850f2d2.jpg">
    <ion-card-header>
      <ion-card-title>Jadi Teman Dengar yang Baik untuk Teman Tuli di Sekitar Kita Yuk!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Bahasa isyarat sedang bergairah di Indonesia. Beberapa stasiun televisi sudah menyertakan pemandu bahasa isyarat
      dalam program berita. Di media sosial seperti Youtube dan Instagram pun banyak influencer yang membuat konten
      untuk menyosialisasikan bahasa isyarat di kalangan masyarakat Indonesia. Bahasa isyarat pun mulai mendapat hati di
      kalangan masyarakat.

      Mari pindah sejenak ke Kota Malang. Penggunaan dan sosialisasi bahasa isyarat bukan hal yang baru lagi di sini.
      Sebuah komunitas yang ditujukan bagi seluruh teman tuli, sebutan untuk penyandang tuli, terbentuk pada tahun 2012.
      Komunitas itu bernama Akar Tuli Malang dan diresmikan pada 13 September 2013.

      Hadirnya Akar Tuli sangat memberikan arti kepada teman tuli yang berdomisili di Kota Malang. Teman-teman tuli
      merasa dihargai ketika berada dalam komunitas karena dapat saling bertukar pikiran dan menunjukkan potensi diri
      masing-masing.

      Tak hanya itu, Akar Tuli juga turut menyosialisasikan bahasa isyarat sebagai bahas komunikasi yang bukan hanya
      dipelajari untuk teman tuli, melainkan juga untuk teman dengar (orang yang berpendengaran normal). Mereka secara
      aktif membuka kesempatan untuk belajar bahasa isyarat di CFD Malang setiap minggu.

      Bagi kamu arek Malang atau yang tinggal di sekitar Malang yang ingin meningkatkan kepedulian dan menjadi teman
      dengar yang baik untuk teman tuli, yuk bergabung menjadi bagian dari kolaboraksi Komunitas Akar Tuli dalam ajang
      Indonesia Community Day 2018 di Taman Krida Budaya Malang.

      Daftarkan dirimu menjadi peserta workshop bahasa isyarat sekarang juga di website icd.co.id karena kuota sangat
      terbatas! Nantinya, kamu akan diajarkan bahasa isyarat dan diajak untuk memasyarakatkan bahasa isyarat agar
      masyarakat Indonesia lebih peduli dengan keberadaan teman tuli di sekitar kita.

      Jangan lupa juga untuk terus pantau seluruh informasi mulai dari pengisi acara, jadwal acara, hingga penghargaan
      komunitas ICD 2018 Malang di icd.co.id. Kami tunggu ya di Kota Malang!
    </ion-card-content>
  </ion-card>

</ion-content>