@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-Regular.ttf')
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

center {
    margin-bottom: 20px;
}

div {
    text-align: right !important;
    padding-right: 5px;
}


ion-card {
    padding-bottom: 5px;
}